html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  text-decoration: none;
  display: flex;
  flex: 1;
  flex-direction: column;
}

body, body * {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

.front {
  background-color: #ffbe0d;
}

header h1{
border-style: solid;
border-color: #ff4860;
border-width: 5px;
border-radius: 12px;
padding: 10px 20px 10px 20px;
font-size: 40px;
text-align: left;
background-color: white;
color: #ff4860;
font-family: hobo-std, sans-serif;
font-style: normal;
font-weight: 400;
}

.alt-header {
  border-style: solid;
  padding: 10px;
  border-color: #121212;
  border-width: 5px;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
  background-color: #FAEC8C;
}

.logo {
  border-style: solid;
  border-color: #121212;
  border-radius: 5px;
  padding: 5px;
  background-color: #FA8C91;
}

.row {

width: 13%;
margin-left: 100px;
margin-top: 30px;
}

.caption {
  
  width: 20%;
  margin-left: 30px;
}

.topnav {
  background-color: #FAEC8C;
  margin-left: 9px;
  border-style: solid;
  border-color: #121212;
  border-radius: 5px;
  margin-top: 8px;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #121212; 	
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFBE0D;
  color: white;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: #FF4860;
 
}

.home-flexbox {
  display: flex;
  flex-direction: row;
}

.pagelink {
  color: #121212; 	
  font-weight: bold;
  text-align: center;
  padding: 12px 16px;
  font-size: 17px;
  background-color: #FAEC8C;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 4px;
  margin-left: 8px;
  border-style: solid;
  border-color: #121212;
  border-radius: 5px;
}

.pagelink a { 
 text-decoration: none;color: #121212; 	
 font-weight: bold;
 text-align: center;
 font-size: 17px;
}

#poem {
  margin-left: 50px;
  border-style: none;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.verse {
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
}

.subheader {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

#bachtin_img {

  border-left-style: dashed;
  border-top-style: dashed;
  border-width: 8px;
  padding: 20px;
  
}

#lithograph {
  font-style: italic;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-top: 5px;
}

#lithograph2 {
  line-height: 1.2;
  border-style: solid;
  padding: 10px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-top: 5px;
}

.text {
  margin-left: 25px;
  line-height: 1.5;
}

.text-box {
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.link {
  line-height: 1.5;
}

.poem_title {
  font-weight: bold;
}

.murph {
  font-style: italic;
}


#about-text {
  padding: 30px;
  margin-right: 300px;
  margin-left: 20px;
  margin-top: 20px;
  line-height: 1.5;
  border-bottom-style: dashed;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: dashed;
  border-color: #7a49a5;
  border-radius: 5px;
  border-width: 5px;
}

.footer { 
  background-color: white;
  color: #ff4860;
  font-weight: bold;
  font-family: hobo-std, sans-serif;
  padding: 10px;
  position: fixed;
  z-index: 50;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.topnav-container {
  display: flex;
}

.pagelink_container {
  display: flex;

}