{{define "footer"}}
    <footer class="mt-auto">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">&copy; 2023 James Sheppard</span>
      </div>
    </footer>
{{end}}